<p>individual-customer-invoice works!</p>
<div class="card bg-light mb-3">
    <div class="card-header">Customer Details</div>
    <div class="card-body">
        <button class="btn btn-primary my-2" (click)="backToList()">Back</button>
        <div class="card-deck">
            <!-- Customer Details-->
            <div class="card bg-light mb-3">
                <div class="card-header">Customer Details</div>
                <div class="card-body">
                   
                    <div >
                        <p class="font-weight-bold">Client Name</p>
                        <p class="font-weight-normal">{{customer.name}}</p>
                        <p class="font-weight-bold">DNI</p>
                        <p class="font-weight-normal">{{customer.id}}</p>
                        <p class="font-weight-bold">Address</p>
                        <p class="font-weight-normal">{{customer.address}}</p>
                    </div>

                </div>

            </div>
            <!-- Invoice Details-->
            <div class="card bg-light mb-3">
                <div class="card-header">Invoice Information</div>
                <div class="card-body">
                    <div >
                        <p class="font-weight-bold">Invoice Id</p>
                        <p class="font-weight-normal">{{newCustomerInvoice.id}}</p>
                        <p class="font-weight-bold">Date</p>
                        <p class="font-weight-normal">{{newCustomerInvoice.invoiceDate}}</p>
                    </div>



                </div>

            </div>
        </div>
        <!-- Products-->
        <div class="card bg-light mb-3">
            <div class="card-header">Invoice Details</div>
            <div class="card-body">

                <!-- Plantilla Boostrap-->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Description</th>
                                    <th>Qty</th>
                                    <th>Price</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr *ngFor="let product of detailList;let i=index">
                                    <td><img src="https://via.placeholder.com/400x200/FFB6C1/000000" class="img-cart">
                                    </td>
                                    <td><strong>{{productDetailList[i].productName}}</strong>
                                        <p>{{productDetailList[i].description}}</p>
                                    </td>
                                    <td> {{product.quantity}}</td>
                                    <td>{{productDetailList[i].price}}</td>
                                    <td>{{product.total}}</td>
                                </tr>

                                <tr>
                                    <td colspan="6">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-right">VAT</td>
                                    <td>21%</td>
                                </tr>
                                
                                <tr>
                                    <td colspan="4" class="text-right"><strong>Total</strong></td>
                                    <td>${{total}}</td>
                                </tr><!--Añadir input para producto y quantity-->
                            </tbody>
                        </table>
                        
            <!-- Sign up button -->
            
                    </div>
                </div>





            </div>

        </div>

    </div>

</div>