<div class="card bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button class="btn btn-primary my-2" routerlink="/home">Back</button>
        <form class="text-center border border-light p-5" action="#!">

            <p class="h4 mb-4">Sign up Product</p>

            <div class="form-group">

                <!-- productName -->
                <label for="productName"></label>
                <input type="text" name="productName" class="form-control" placeholder="Name">
            </div>

            <div class="form-group">

                <!-- description -->
                <label for="description"></label>
                <input type="text" name="description" class="form-control" placeholder="Description">
            </div>

            <div class="form-group">

                <!-- stock -->
                <label for="stock"></label>
                <input type="text" name="stock" class="form-control" placeholder="Stock">
            </div>
            <div class="form-group">

                <!-- stockThreshold -->
                <label for="stockThreshold"></label>
                <input type="text" name="stockThreshold" class="form-control" placeholder="Stock Threshold">
            </div>

            <div class="form-group">
                <!-- risk -->
                <label for="risk"></label>
                <input type="text" name="risk" class="form-control" placeholder="Risk">
            </div>

            <div class="form-group">

                <!-- category -->
                <label for="category"></label>
                <input type="text" name="category" class="form-control" placeholder="Category">
            </div>

            <div class="form-group">

                <!-- zone -->
                <label for="zone"></label>
                <input type="text" name="zone" class="form-control" placeholder="Zone">
            </div>

            <div class="form-group">

                <!-- price -->
                <label for="price"></label>
                <input type="text" name="price" class="form-control" placeholder="Price">
            </div>

            


            <!-- Sign up button -->
            <button class="btn btn-info primary" type="button">Save Product</button>




        </form>
    </div>

</div>