<div class="card bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button class="btn btn-primary my-2" (click)="backToList()">Back</button>
        <form class="text-center border border-light p-5" action="#!">

            <p class="h4 mb-4">Sign up Product</p>


            <div class="form-group">

                <!-- ID -->
                <label for="id"></label>
                <input type="text" name="id" class="form-control" placeholder="Id"
                [(ngModel)]="product.id">
            </div>


            <div class="form-group">

                <!-- zone -->
                <label for="zone"></label>
                <input type="text" name="zone" class="form-control" placeholder="Zone"
                [(ngModel)]="product.zone">
            </div>
            
            
            <div class="form-group">

                <!-- productName -->
                <label for="productName"></label>
                <input type="text" name="productName" class="form-control" placeholder="Name"
                [(ngModel)]="product.productName">
            </div>

            <div class="form-group">

                <!-- description -->
                <label for="description"></label>
                <input type="text" name="description" class="form-control" placeholder="Description"
                [(ngModel)]="product.description">
            </div>

            <div class="form-group">

                <!-- stock -->
                <label for="stock"></label>
                <input type="number" name="stock" class="form-control" placeholder="Stock"
                [(ngModel)]="product.stock">
            </div>
            <div class="form-group">

                <!-- stockThreshold -->
                <label for="stockThreshold"></label>
                <input type="number" name="stockThreshold" class="form-control" placeholder="Stock Threshold"
                [(ngModel)]="product.stockThreshold">
            </div>

            <div class="form-group">

                <!-- price -->
                <label for="price"></label>
                <input type="number" name="price" class="form-control" placeholder="Price"
                [(ngModel)]="product.price">
            </div>

            <div class="form-group">
                <!-- risk -->
                <label for="risk"></label>
                <input type="text" name="risk" class="form-control" placeholder="Risk"
                [(ngModel)]="product.risks[0].id">
            </div>

            <div class="form-group">

                <!-- category -->
                <label for="category"></label>
                <input type="text" name="category" class="form-control" placeholder="Category"
                [(ngModel)]="product.category">
            </div>



            


            <!-- Sign up button -->
            <button class="btn btn-success" (click)="saveProduct()" type="button">Save Product</button>




        </form>
    </div>

</div>