<p>add-customer-invoice works!</p>

<div class="card bg-light mb-3">
    <div class="card-header">Customer Details</div>
    <div class="card-body">
        <button class="btn btn-primary my-2" (click)="backToList()">Back</button>
        <div class="card-deck">
            <!-- Customer Details-->
            <div class="card bg-light mb-3">
                <div class="card-header">Customer Details</div>
                <div class="card-body">
                    <div *ngIf="selectCustomer">

                        <!--Codigo dropList-->
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                                <input type="text" placeholder="Pick one" aria-label="Number" matInput
                                    [formControl]="myControl" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                                        (click)="onSelectCustomer(option)">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </form>



                    </div>
                    <div *ngIf="showCustomer">
                        <p class="font-weight-bold">Client Name</p>
                        <p class="font-weight-normal">{{customer.name}}</p>
                        <p class="font-weight-bold">DNI</p>
                        <p class="font-weight-normal">{{customer.id}}</p>
                        <p class="font-weight-bold">Address</p>
                        <p class="font-weight-normal">{{customer.address}}</p>
                    </div>

                </div>

            </div>
            <!-- Invoice Details-->
            <div class="card bg-light mb-3">
                <div class="card-header">Invoice Information</div>
                <div class="card-body">




                </div>

            </div>
        </div>
        <!-- Products-->
        <div class="card bg-light mb-3">
            <div class="card-header">Invoice Details</div>
            <div class="card-body">

                <!-- Plantilla Boostrap-->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Description</th>
                                    <th>Qty</th>
                                    <th>Price</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <div *ngIf="showProductOption">
                                
                                <!-- Product y Quantity Selector-->
                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                        <input type="text" placeholder="Pick one" aria-label="Number" matInput
                                            [formControl]="myControl" [matAutocomplete]="auto">
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                                                (click)="onSelectProduct(option)">
                                                {{option}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </form>

                                
                                </div>
                                <tr *ngFor="let product of detailList;let i=index">
                                    <td><img src="https://via.placeholder.com/400x200/FFB6C1/000000" class="img-cart">
                                    </td>
                                    <td><strong>{{productDetailList[i].productName}}</strong>
                                        <p>{{productDetailList[i].description}}</p>
                                    </td>
                                    <td> {{product.quantity}}</td>
                                    <td>{{productDetailList[i].price}}</td>
                                    <td>{{product.total}}</td>
                                </tr>

                                <tr>
                                    <td colspan="6">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-right">VAT</td>
                                    <td>21%</td>
                                </tr>
                                
                                <tr>
                                    <td colspan="4" class="text-right"><strong>Total</strong></td>
                                    <td>${{total}}</td>
                                </tr><!--Añadir input para producto y quantity-->
                            </tbody>
                        </table>
                    </div>
                </div>





            </div>

        </div>

    </div>

</div>