<form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">Sign up Provider</p>

    <div class="form-row mb-4">
        <div class="col">
            <!-- DNI -->
            <input type="text" id="providerRegisterFormDNI" class="form-control" placeholder="DNI">
        </div>
        <div class="col">
            <!-- Last name -->
            <input type="text" id="providerRegisterFormNAME" class="form-control" placeholder="Name">
        </div>
    </div>

    <!-- E-mail -->
    <input type="email" id="providerRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Location -->
    <input type="text" id="providerRegisterFormAddress" class="form-control mb-4" placeholder="Addres" aria-describedby="providerRegisterFormAddres">
    <input type="text" id="providerRegisterFormLocation" class="form-control mb-4" placeholder="Location" aria-describedby="providerRegisterFormLocation">

    <!-- Phone number -->
    <input type="text" id="providerRegisterPhone1" class="form-control mb-4" placeholder="Phone number 1" aria-describedby="providerRegisterFormPhone1">
    <input type="text" id="providerRegisterPhone2" class="form-control mb-4" placeholder="Phone number 2" aria-describedby="providerRegisterFormPhone2">
    

    

    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block" type="submit">Save Provider</button>

    
    

</form>