<div class="card bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button class="btn btn-primary my-2" (click)="backToList()">Back</button>
        <form class="text-center border border-light p-5" action="#!">

            <p class="h4 mb-4">Sign up Customer</p>


            <div class="form-group">

                <!-- ID -->
                <label for="id"></label>
                <input type="text" name="id" class="form-control" placeholder="CIF"
                [(ngModel)]="customer.id">
            </div>


            <div class="form-group">

                <!-- name -->
                <label for="name"></label>
                <input type="text" name="name" class="form-control" placeholder="Name"
                [(ngModel)]="customer.name">
            </div>
            
            
            <div class="form-group">

                <!-- address -->
                <label for="address"></label>
                <input type="text" name="address" class="form-control" placeholder="Address"
                [(ngModel)]="customer.address">
            </div>

            <div class="form-group">

                <!-- genre -->
                <label for="genre"></label>
                <input type="text" name="genre" class="form-control" placeholder="Genre"
                [(ngModel)]="customer.genre">
            </div>

            <div class="col-xs-6 form-group">

                <!-- phone-->
                <label for="phone"></label>
                <input type="text" name="phone" class="form-control" placeholder="Phone Number"
                [(ngModel)]="customer.phone">
            </div>

            <div class="form-group">

                <!-- email -->
                <label for="email"></label>
                <input type="text" name="email" class="form-control" placeholder="E-mail"
                [(ngModel)]="customer.email">
            </div>



            


            <!-- Sign up button -->
            <button class="btn btn-success" (click)="saveCustomer()" type="button">Save Customer</button>




        </form>
    </div>

</div>