

<div class="card bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button class="btn btn-primary my-2" (click)="backToList()">Back</button>
        <form class="text-center border border-light p-5" action="#!">

            <p class="h4 mb-4">Provider CIF: {{provider.id}} Details</p>


            <div class="form-group">

                <!-- ID -->
                <label for="id"></label>
                <input type="text" name="id" class="form-control" placeholder="{{provider.id}}"
                [(ngModel)]="newProvider.id">
            </div>


            <div class="form-group">

                <!-- name -->
                <label for="name"></label>
                <input type="text" name="name" class="form-control" placeholder="{{provider.name}}"
                [(ngModel)]="newProvider.name">
            </div>
            
            
            <div class="form-group">

                <!-- address -->
                <label for="address"></label>
                <input type="text" name="address" class="form-control" placeholder="{{provider.address}}"
                [(ngModel)]="newProvider.address">
            </div>

            <div class="form-group">

                <!-- description -->
                <label for="description"></label>
                <input type="text" name="description" class="form-control" placeholder="{{provider.description}}"
                [(ngModel)]="newProvider.description">
            </div>

            <div class="col-xs-6 form-group">

                <!-- phone1 -->
                <label for="phone1"></label>
                <input type="text" name="phone1" class="form-control" placeholder="{{provider.phone1}}"
                [(ngModel)]="newProvider.phone1">
            </div>
            <div class="col-xs-6 form-group">

                <!-- phone2 -->
                <label for="phone2"></label>
                <input type="text" name="phone2" class="form-control" placeholder="{{provider.phone2}}"
                [(ngModel)]="newProvider.phone2">
            </div>

            <div class="form-group">

                <!-- email -->
                <label for="email"></label>
                <input type="text" name="email" class="form-control" placeholder="{{provider.email}}"
                [(ngModel)]="newProvider.email">
            </div>



            


            <!-- Sign up button -->
            <button class="btn btn-success" (click)="updateProvider()" type="button">Update Provider</button>
            <button class="btn btn-danger" (click)="deleteProvider()" type="button">Delete Provider</button>




        </form>
    </div>

</div>